@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(body) {
  font-family: "Segoe UI Variable Display", -apple-system, BlinkMacSystemFont, "Inter", 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', system-ui, sans-serif;
  --webkit-tap-color: transparent;
}

*:not(body, .transition, .transition-all, button) {
  transition-property: width, height, opacity, margin, background-color, padding, left, top, font-size, line-height, transform, filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

.account-profile-img {
  background-image: url("https://api.solarphlare.com/users/me/avatar");
  background-size: contain;
}

.header-nav-button {
  background-image: url("/src/assets/headericon.png");
  background-size: contain;
}

.dialog-container {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

@keyframes ExpandIn {
  0% { scale: 80%; opacity: 50% }
  50% { scale: 90%; opacity: 75% }
  100% { scale: 100%; opacity: 100% }
}

.dialog-box {
  animation: ExpandIn .25s linear;
}

.dialog-transform {
  transform: translate(-50%, -50%);
}

@keyframes Breathe {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.4;
  }
  100% {
      opacity: 1;
  }
}

.skeleton-element {
  animation: Breathe 3s infinite;
}
